In [29]:
list1 = [1,2,3,4,5,4,3,2,1]
print(list1)
print(type(list1))

[1, 2, 3, 4, 5, 4, 3, 2, 1]
<class 'list'>

In [30]:
list2 = [2,7,3,0,4,4,5,7,8,3]
print("{} {}".format(list2[4], list2[-2]))

4 8

In [31]:
list3 = [3,6,4,8,3,5,7,8,2]
print(list3[0:-1])
print(list3[0:-2:2])
print(list3[::-1])

[3, 6, 4, 8, 3, 5, 7, 8]
[3, 4, 3, 7]
[2, 8, 7, 5, 3, 8, 4, 6, 3]

In [32]:
print(len(list3))

9

In [33]:
print(list3)
list3.append(1232121)
print(list3)
list3 = [3,6,4,8,3,5,7,8,2]
print(list3)

[3, 6, 4, 8, 3, 5, 7, 8, 2]
[3, 6, 4, 8, 3, 5, 7, 8, 2, 1232121]
[3, 6, 4, 8, 3, 5, 7, 8, 2]

In [34]:
print(list1 + list2 + list3)

[1, 2, 3, 4, 5, 4, 3, 2, 1, 2, 7, 3, 0, 4, 4, 5, 7, 8, 3, 3, 6, 4, 8, 3, 5, 7, 8, 2]

In [35]:
tp = (1,2,3,5,6,3,6,4)
print(tp)
print(type(tp))

(1, 2, 3, 5, 6, 3, 6, 4)
<class 'tuple'>